@charset "UTF-8";

:root {
    --color-primary: #ce3200;
    --color-secondary: #ffece5;
    --color-tertiary: #f4c7b8;
    --dm-sans-bold: "DMSans-Bold", sans-serif;
    --dm-sans-medium: "DMSans-Medium", sans-serif;
    --dm-sans-regular: "DMSans-Regular", sans-serif;
}

@font-face {
    font-family: "DMSans-Bold";
    src: url("../fonts/DMSans-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "DMMono-Medium";
    src: url("../fonts/DMMono-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "DMSans-Medium";
    src: url("../fonts/DMSans-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "DMSans-Regular";
    src: url("../fonts/DMSans-Regular.ttf") format("truetype");
    font-display: swap;
}

.font-bold {
    font-family: "DMSans-Bold";
}

.font-light {
    font-family: "DMSans-Medium";
}

.font-mono-medium {
    font-family: "DMMono-Medium";
}

.font-regular {
    font-family: "DMSans-Regular";
}

body {
    font-family: "DMSans-Regular", sans-serif;
    font-size: 1rem;
}

.fs-12 {
    font-size: 12px !important;
}
.fs-14 {
    font-size: 14px !important;
}
.fs-16 {
    font-size: 16px !important;
}
.fs-18 {
    font-size: 18px !important;
}
.fs-22 {
    font-size: 22px !important;
}
.fs-24 {
    font-size: 24px !important;
}

.title-h2 {
    font-size: 4rem !important;
}

.section-title {
    font-size: 2.5rem !important;
}

.join-title {
    font-size: 3rem !important;
}

.color-primary {
    color: var(--color-primary) !important;
}

.color-secondary {
    color: var(--color-secondary) !important;
}

.color-tertiary {
    color: var(--color-tertiary) !important
    ;
}

.bg-wb-primary {
    background-color: var(--color-primary) !important;
}

.bg-wb-secondary {
    background-color: var(--color-secondary) !important;
}

.bg-wb-tertiary {
    background-color: var(--color-tertiary) !important;
}

.bg-black {
    background-color: #000 !important;
}

.btn-wb-primary {
    color: #fff !important;
    font-family: "DMMono-Medium";
    background-color: var(--color-primary) !important;
}

.btn-wb-primary:hover {
    color: var(--color-primary) !important;
    background-color: var(--color-secondary) !important;
    transition: 0.3s;
    font-family: "DMMono-Medium";
}

.join-box {
    height: 150px;
    width: 200px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-color: var(--color-primary);
    color: #fff !important;
    display: flex;
    align-items: flex-end;
    padding: 0.5rem 1.5rem;
    position: relative !important ;
}

.join-box span {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    font-size: 20px;
}

.join-box p {
    font-size: 1rem !important;
}

.join-box:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary) !important;
    transition: 0.5s;
}

.icone-menu {
    height: 16px;
}

.btn-icone-menu:focus {
    box-shadow: 0 0 0 0.25rem #fff;
}

.menu-overlay {
    position: fixed;
    overflow: hidden;
    height: 0vh;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #fff !important;
    transition: 0.6s;
    z-index: 2000;
}

.menu-overlay-content {
    position: relative;
    top: 25%;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}

.menu-overlay-link {
    color: #000;
    font-family: var(--dm-sans-regular);
    font-size: 18px;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.menu-overlay-link:hover {
    color: var(--color-primary);
}

.menu-overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer !important;
}

.menu-overlay-title {
    position: absolute;
    top: 35vh;
    right: -6px;
    /* transform: translateY(50%); */
    /* margin-right: -3rem; */
    transform: rotate(90deg);
}

.hero-image {
    width: 100%;
}

.hero-big-circle,
.hero-medium-circle,
.hero-small-circle {
    position: absolute;
    z-index: -1;
}

.hero-big-circle {
    top: -2rem;
    right: 0rem;
    height: 117px;
}

.hero-medium-circle {
    top: 16rem;
    left: 0rem;
    height: 100px;
}

.hero-small-circle {
    bottom: 17rem;
    right: 1rem;
    height: 30px;
}

.hero-container {
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    overflow: hidden;
}

.hero-title-block {
    position: absolute;
    bottom: 7%;
    padding: 1.5rem;
    padding-left: 11.5rem;
}

.hero-see-more {
    padding-top: 8rem;
    padding-right: 11rem;
}

.container-custom {
    padding: 4rem 3rem 4rem 2.5rem;
}

.container-about {
    padding: 4rem 3rem 4rem 6.5rem;
}

.profile-image-container {
    width: 370px;
    height: 450px;
}
.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-news {
    height: 30px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.news-big-circle,
.news-medium-circle,
.news-small-circle {
    position: absolute;
}

.news-big-circle {
    bottom: -1rem;
    right: 0rem;
    height: 117px;
}

.news-medium-circle {
    top: -2rem;
    left: -1rem;
    height: 99px;
}

.news-small-circle {
    bottom: 4rem;
    left: 5rem;
    height: 30px;
}

.p-news {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.img-join-1,
.img-join-2 {
    width: 290px;
    height: 290px;
    object-fit: cover;
}

.img-join-2 {
    position: absolute;
    bottom: 3rem;
    right: 17rem;
}

@media screen and (max-width: 1350px) {
    .img-join-2 {
        position: absolute;
        bottom: 3rem;
        right: 9rem;
    }
}

.container-join-me {
    padding: 5rem 3rem 5rem 6.5rem;
}

.rotate-icone {
    transform: rotate(-45deg);
}

.menu-overlay-link.active {
    color: var(--color-primary);
}

.iframe-videos {
    width: 100%;
    height: 100%;
}

.btn-wb-light {
    height: 50px;
    width: 50px;
    border-radius: 40px;
    background-color: #fff;
    font-size: 1rem;
    color: #000;
    border: 1px solid #000;
}

.btn-wb-light:hover {
    background-color: #000;
    color: #fff;
}

.btn-wb-dark {
    height: 50px;
    width: 50px;
    border-radius: 40px;
    background-color: #000;
    font-size: 1rem;
    color: #fff;
    border: 1px solid #fff;
}

.btn-wb-dark:hover {
    background-color: #fff;
    color: #000;
}

.container-wb {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-wb {
        max-width: 100vw;
    }
}
@media (min-width: 768px) {
    .container-wb {
        max-width: 520px;
    }
}
@media (min-width: 992px) {
    .container-wb {
        max-width: 760px;
    }

    .card-videos {
        width: 380px !important;
        height: 200px !important;
    }

    .popup-img {
        height: 3rem;
    }
}
@media (min-width: 1200px) {
    .container-wb {
        max-width: 940px;
    }

    .card-videos {
        width: 400px !important;
        height: 280px !important;
    }
    .popup-img {
        height: 5rem;
    }
}
@media (min-width: 1400px) {
    .container-wb {
        max-width: 1120px;
    }

    .card-videos {
        width: 500px !important;
        height: 300px !important;
    }

    .popup-img {
        height: 5rem;
    }
}

.container-section {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-section {
        max-width: 420px;
    }
}
@media (min-width: 768px) {
    .container-section {
        max-width: 600px;
    }
}
@media (min-width: 992px) {
    .container-section {
        max-width: 840px;
    }
}
@media (min-width: 1200px) {
    .container-section {
        max-width: 1020px;
    }
}
@media (min-width: 1400px) {
    .container-section {
        max-width: 1200px;
    }
}

.container-title {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    height: 450px;
    position: relative;
}

@media (min-width: 576px) {
    .container-title {
        max-width: 495px;
    }
}
@media (min-width: 768px) {
    .container-title {
        max-width: 675px;
    }
    .popup-content {
        position: relative;
        width: 500px !important;
        height: 250px !important;
    }
}
@media (min-width: 992px) {
    .container-title {
        max-width: 915px;
    }
    .popup-content {
        position: relative;
        width: 500px !important;
        height: 300px !important;
    }
}
@media (min-width: 1200px) {
    .container-title {
        max-width: 1095px;
    }
    .popup-content {
        position: relative;
        width: 600px !important;
        height: 350px !important;
    }
}
@media (min-width: 1400px) {
    .container-title {
        max-width: 1275px;
    }
    .popup-content {
        position: relative;
        width: 800px !important;
        height: 450px !important;
    }
}

.title-big-circle,
.title-medium-circle,
.title-small-circle {
    position: absolute;
    /* z-index: -1; */
}

.title-big-circle {
    top: 0rem;
    right: -1rem;
    height: 117px;
}

.title-medium-circle {
    top: 12rem;
    left: -1rem;
    height: 100px;
}

.title-small-circle {
    bottom: 0rem;
    right: 0rem;
    height: 45px;
}

.card-price {
    height: 510px;
    width: 33.33333333333%;
    border: none !important;
    border-radius: 0px !important;
    padding: 1rem;
    overflow: hidden;
}

.card-price-header {
    display: block;
    position: absolute;
    top: 0;
    padding: 2.5rem 1rem;
}

.card-price-footer {
    display: block;
    position: absolute;
    bottom: 0;
    padding: 2.5rem 1rem;
    transition: all 0.5s ease;
}

.card-price-footer-link {
    display: none;
}

.card-price-footer:hover .card-price-footer-link {
    display: block;
}

.container-img-started-about {
    width: 30%;
    height: 400px;
}
.container-img-ressource-about {
    width: 40%;
    height: 450px;
}
.container-img-ressource-methods {
    width: 90% !important;
    height: 15rem;
    overflow: hidden;
}

.img-started-about {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.line-height-1 {
    line-height: 27px;
}

.line-height-2 {
    line-height: 36px;
}

.opactity-60 {
    opacity: 0.6 !important;
}

.p-ressource-about {
    padding: 5rem !important;
}

.step-circle {
    height: 50px;
    width: 50px;
    border-radius: 40px;
    background-color: #fff;
    font-size: 1rem;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.taining-hero-img {
    width: 250px;
    height: 350px;
    background-color: #000;
    margin-left: 1.5rem;
}

.history-deco::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 9px;
    left: 136px;
    width: 60px;
    height: 3px;
    background-color: #fff;
}

.bg-step-1 {
    background-color: #fafafa;
}

.bg-step-2 {
    background-color: #f2f2f2;
}

.bg-step-3 {
    background-color: #e2e2e2;
}

.bg-step-1,
.bg-step-2.bg-step-3 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.accordion-button::after {
    width: 1.25rem;
    height: 1.25rem;
    background-image: url("../icons/add-icone.svg") !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../icons/close-icone.svg") !important;
}

.accordion-button:not(.collapsed) {
    color: #000 !important;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 #fff !important;
}

.swiper {
    width: 100%;
    height: 400px;
}

/* .swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
} */

@media screen and (max-width: 427px) {
    .card-history-header {
        height: 295px !important;
    }
    .card-history p {
        font-size: 14px !important;
    }
    .card-price {
        height: 520px !important;
    }
    .card-price-footer-link {
        display: block !important;
    }

    .menu-overlay-link {
        font-size: 16px;
    }

    .menu-overlay .closebtn {
        top: 1rem;
        right: 1rem;
    }

    .menu-overlay-title {
        display: none;
    }

    .p-ressource-about {
        padding: 2rem !important;
    }

    .container-img-ressource-about {
        width: 100%;
        height: 450px;
    }

    .join-title {
        font-size: 2rem !important;
    }

    .title-medium-circle {
        display: none;
    }

    .title-big-circle {
        top: -2rem !important;
        right: -1rem !important;
        height: 125px !important;
    }

    .title-small-circle {
        bottom: 0rem !important;
        right: -1rem !important;
        height: 45px !important;
    }

    .container-title {
        overflow: hidden !important;
    }

    .container-img-started-about {
        width: 100%;
        height: 400px;
    }

    .card-price {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .p-ressource-about-2 {
        padding: 0.5rem !important;
    }

    .container-join-me {
        padding: 1rem;
    }

    .container-about {
        padding: 1rem;
    }

    .img-join-1,
    .img-join-2 {
        width: 185px;
        height: 185px;
        object-fit: cover;
    }

    .img-join-2 {
        position: absolute;
        bottom: -7rem;
        right: 6rem;
    }

    .m-join-ecom {
        margin-bottom: 10rem;
    }

    .container-custom {
        padding: 1rem;
    }

    .img-news {
        height: 40px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        width: 113px;
    }

    .news-small-circle {
        top: 5rem;
        left: 5rem;
        height: 30px;
    }

    .hero-image-container {
        width: 100%;
        height: 525px;
        position: relative;
    }

    .hero-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .hero-title-block {
        position: absolute;
        bottom: 7%;
        padding: 1.5rem !important;
    }

    .hero-see-more {
        padding: 1rem;
        padding-top: 8rem;
    }

    .btn-wb-primary {
        padding-top: 0.7rem !important;
        padding-bottom: 0.7rem !important;
    }

    .hero-small-circle {
        bottom: 5rem;
        right: 1rem;
        height: 30px;
    }

    .swiper {
        width: 100%;
        height: 600px !important;
    }

    .card-history-img {
        height: 200px !important;
        width: 200px !important;
        position: relative;
        z-index: 1;
    }

    .btn-wb-dark,
    .btn-wb-light {
        height: 40px;
        width: 40px;
    }

    .text-xs-start {
        text-align: left;
    }

    .text-xs-center {
        text-align: center;
    }

    .p-wb-4 {
        padding: 2rem !important;
    }

    .join-title-home {
        font-size: 2.5rem !important;
    }

    .fs-m-16 {
        font-size: 14px !important;
    }

    .w-wb-100 {
        width: 100% !important;
    }

    .iframe-videos {
        width: 100%;
        height: 260px !important;
    }

    .popup-content {
        padding: 1rem !important;
        width: 100% !important;
        height: 350px !important;
    }

    .popup-close {
        top: 15px;
        right: 25px;
    }

    .card-videos {
        height: 200px !important;
    }
}

@media screen and (max-width: 376px) {
    .img-join-2 {
        position: absolute;
        bottom: -5rem;
        right: 2rem;
    }
}

@media screen and (max-width: 321px) {
    .img-join-2 {
        position: absolute;
        bottom: -5rem;
        right: 0rem;
    }

    .card-history-header {
        height: 375px !important;
    }

    .swiper {
        width: 100%;
        height: 700px !important;
    }
}

.card-history {
    background-color: #000;
    color: #fff;
}

.card-history-img {
    height: 300px;
    width: 300px;
    position: relative;
    z-index: 1;
}

.card-history-img img {
    width: 100%;
    height: 100%;
    z-index: 1000 !important;
    position: relative;
}

.card-history-img::before {
    content: "";
    display: block;
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    border: 1px solid #fff;
    z-index: 0;
    transform: rotate(6deg);
}

/*
.card-history {
    height: 300px;
    width: 300px;
    position: relative;
}

.card-history-container {
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.card-history-container img {
    width: 100%;
    height: 100%;
    z-index: 1000 !important;
    position: relative;
}

.card-history::before {
    content: "";
    display: block;
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    border: 1px solid #fff;
    z-index: 0;
    transform: rotate(6deg);
} */

.break-word {
    word-break: break-all;
}
.text-justify {
    text-align: justify !important;
}

.fa-animate-chevron {
    animation-name: fa-animate-chevron;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* @keyframes fa-animate-chevron {
    0%   {padding-bottom: 4px;}
    50%  {padding-bottom: 6px;}
    100% {padding-bottom: 4px;}
  } */

.card-videos img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-videos:hover img {
    transform: scale(1.05);
    transition: all 0.5s;
}

.card-videos {
    position: relative;
    overflow: hidden;
}

.inset-videos {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
}

.popup-trigger {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important ;
}

.popup {
    height: 0vh;
    width: 100%;
    position: fixed;
    z-index: 8000;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    width: 800px;
    height: 450px;
    text-align: center;
    margin-top: 1rem;
}

.popup-close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer !important;
    color: #fff;
}

.popup-iframe {
    width: 100% !important;
    height: 100% !important;
}

.popup-iframe {
    animation: video;
    animation-duration: 10s;
}

@keyframes video {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
#navbar {
    width: 100%;
    position: fixed;
    z-index: 1000 !important;
    background: white;
    top: 0px;
    transition: all 1s;
}

/* .section:first-of-type{
       margin-top: 4rem;
   } */

.mt-header {
    margin-top: 4rem;
}

.sec-p {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#menu-overlay {
    z-index: 5000 !important;
}

.anim {

    /* opacity: 1;
    transform: translate3d(0,-100px,0);
    transition-property: opacity,transform ;
    transition-timing-function: ease;*/
}

.anim:nth-child(1) {

}

.anim:nth-child(2) {
    transition-delay: 1s;

}

.anim:nth-child(3) {
    transition-delay: 2s;

}
.anim:nth-child(4) {
    transition-delay: 3s;

}

@keyframes header {
    0% {

        visibility:hidden ;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);

    }
}


.card-swiper-price{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
}

.p-price-x{

    padding-right: 4rem !important;
}

.card-swiper-price-header{
    height:450px ;
}

.card-swiper-price-header img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.card-price-thumbs{
    height: 70px;
    width: 70px;
    margin-bottom: 1rem;
    cursor: pointer !important;
}

.h-wb-100{
    height: 100% !important;
}
