@charset "UTF-8";

:root{
    --color-primary: #CE3200;
    --color-secondary:#FFECE5;
    --color-tertiary : #F4C7B8;
    --dm-sans-bold : "DMSans-Bold" , sans-serif;
    --dm-sans-medium : "DMSans-Medium" , sans-serif;
    --dm-sans-regular : "DMSans-Regular" , sans-serif;

}

@font-face {
    font-family: "DMSans-Bold";
    src: url("../fonts/DMSans-Bold.ttf") format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "DMMono-Medium";
    src: url("../fonts/DMMono-Medium.ttf") format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "DMSans-Medium";
    src: url("../fonts/DMSans-Medium.ttf") format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "DMSans-Regular";
    src: url("../fonts/DMSans-Regular.ttf") format('truetype');
    font-display: swap;
}

.font-bold{
    font-family: "DMSans-Bold";
}

.font-light{
    font-family: "DMSans-Medium";

}

.font-mono-medium{
    font-family: "DMMono-Medium";

}

.font-regular{
    font-family: "DMSans-Regular";

}

body{
    font-family: "DMSans-Regular",sans-serif;
    font-size: 1rem;
}


.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 16px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-22 {
    font-size: 22px;
}
.fs-24 {
    font-size: 24px;
}

.title-h2{
    font-size: 4rem !important;
}


.section-title{
    font-size: 2.5rem !important;
}


.join-title{
    font-size: 3rem !important;
}




.color-primary{
    color: var(--color-primary) !important;
}

.color-secondary{
    color: var(--color-secondary) !important;
}

.color-tertiary{
    color: var(--color-tertiary) !important
    ;
}


.bg-wb-primary{
 background-color: var(--color-primary) !important;
}

.bg-wb-secondary{
    background-color: var(--color-secondary) !important;
}

.bg-wb-tertiary{
    background-color: var(--color-tertiary) !important;
}


.btn-wb-primary{
    color: #fff !important;
    background-color: var(--color-primary) !important;
}

.btn-wb-primary:hover{
    color: #000 !important;
    background-color: var(--color-secondary) !important;
}


.join-box{
    height: 150px;
width: 200px;
left: 0px;
top: 0px;
border-radius: 0px;
background-color: var(--color-primary);
color: #fff !important;
display: flex;
align-items: flex-end;
padding: 0.5rem 1.5rem;

}


.join-box p {
    font-size: 1rem !important;
}

.icone-menu{
    height:16px
}

.btn-icone-menu:focus{
    box-shadow: 0 0 0 0.25rem #fff;
}
